In [23]:
import pandas as pd
import numpy as np
df_1 = pd.DataFrame(
    {'month':np.arange(1, 13, 1),
     'value':np.random.randn(12) ,
     'who':'Bob'
    }    
)

df_2 = pd.DataFrame(
    {'month':np.arange(1, 13, 1),
     'value':np.random.randn(12) ,
     'who':'Alice'
    }    
)

df = pd.concat([df_1, df_2])

df = df.reset_index(drop=True)

In [24]:
#这种做法如果月份数据有丢失,会自然的比较连续的2条数据
df['previous'] = df.groupby('who')['value'].shift(1)
df['percentage'] = (df.value-df.previous )/df.previous
df

    month     value    who  previous  percentage
0       1  0.681962    Bob       NaN         NaN
1       2  0.836329    Bob  0.681962    0.226359
2       3  0.313766    Bob  0.836329   -0.624829
3       4 -0.478075    Bob  0.313766   -2.523665
4       5  0.194903    Bob -0.478075   -1.407682
5       6  0.501068    Bob  0.194903    1.570864
6       7 -0.994535    Bob  0.501068   -2.984829
7       8  1.883571    Bob -0.994535   -2.893922
8       9 -0.518229    Bob  1.883571   -1.275131
9      10 -0.014270    Bob -0.518229   -0.972463
10     11 -1.182666    Bob -0.014270   81.875400
11     12  1.066708    Bob -1.182666   -1.901952
12      1  0.444079  Alice       NaN         NaN
13      2 -0.409297  Alice  0.444079   -1.921676
14      3  2.987539  Alice -0.409297   -8.299192
15      4  0.102611  Alice  2.987539   -0.965654
16      5  0.729651  Alice  0.102611    6.110871
17      6  1.470708  Alice  0.729651    1.015631
18      7  1.457708  Alice  1.470708   -0.008839
19      8 -0.711564  Alice  1.457708   -1.488139
20      9  1.346258  Alice -0.711564   -2.891972
21     10 -1.661763  Alice  1.346258   -2.234357
22     11  0.534930  Alice -1.661763   -1.321905
23     12  0.999880  Alice  0.534930    0.869180