In [1]:
#http://scikit-learn.org/stable/datasets/index.html

from sklearn import datasets
import pandas as pd
import numpy as np
iris = datasets.load_iris()
df = pd.DataFrame( iris.data , columns=iris.feature_names)
df['target'] = iris.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [8]:
df['petal width (cm)'] = df['petal width (cm)'].astype('category')

df['petal width (cm)'].dtype
df['target'] = df['target'].astype('category')
df['target'].dtype

CategoricalDtype(categories=[0, 1, 2], ordered=False)

In [21]:

pass

In [56]:
#gp = df.groupby('target')
#df['max_']  = gp.cummax().iloc[:, 0]
df['row_number'] = gp.cumcount()
df[df.row_number<=4]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,row_number
0,5.1,3.5,1.4,0.2,0,0
1,4.9,3.0,1.4,0.2,0,1
2,4.7,3.2,1.3,0.2,0,2
3,4.6,3.1,1.5,0.2,0,3
4,5.0,3.6,1.4,0.2,0,4
50,7.0,3.2,4.7,1.4,1,0
51,6.4,3.2,4.5,1.5,1,1
52,6.9,3.1,4.9,1.5,1,2
53,5.5,2.3,4.0,1.3,1,3
54,6.5,2.8,4.6,1.5,1,4
100,6.3,3.3,6.0,2.5,2,0
101,5.8,2.7,5.1,1.9,2,1
102,7.1,3.0,5.9,2.1,2,2
103,6.3,2.9,5.6,1.8,2,3
104,6.5,3.0,5.8,2.2,2,4